
<footer
  class="text-center text-lg-start text-white"
  style="background-color: black"
>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">About us</h6>
          <p>
            We have a team of wedding Photographers & Videographers, dedicated to create the most beautiful memories of your wedding day. We will make your precious moments look beautiful
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact us</h6>
          <p>
            If you have any sort of inquires then please feel free to contact us at anytime
          </p>
          <p>
            <a href="tel:+919994420183" class="text-white">+91 99944 20183</a>
          </p>
          <p>
            <a href="mailto:hariartdigimedia@gmail.com" class="text-white">hariartdigimedia@gmail.com</a>
          </p>
    
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->


        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Location</h6>
          <p>C6, 7th Avenue,MGM Nagar,</p>
          <p> Jayabharath City,</p>
          <p> Madurai-625012</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a routerLink="/Gallery" class="text-white">Gallery</a>
          </p>
          <p>
            <a routerLink="/Videos" class="text-white">Videos</a>
          </p>
          <p>
            <a routerLink="/Blog" class="text-white">Blog</a>
          </p>
          <p>
            <a routerLink="/Book Now" class="text-white">Book Now</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3" />

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            Powered by:
            <a class="text-white" href="https://www.instagram.com/error__404__user__not__found/">SakthiInfotech</a
            >
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

   <!-- Grid column -->
<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
  <!-- Facebook -->
  <!-- Facebook -->
<a href="https://www.facebook.com/profile.php?id=100094281339344" class="btn btn-outline-light btn-floating m-1 text-white" role="button">
  <i class="fab fa-facebook-f"></i>
</a>

<!-- Google -->

<!-- Instagram -->
<a href="https://www.instagram.com/hariartscinematicstudio999/" class="btn btn-outline-light btn-floating m-1 text-white" role="button">
  <i class="fab fa-instagram"></i>
</a>

<a href="https://www.youtube.com/@HariArtsDigimedia/videos" class="btn btn-outline-light btn-floating m-1 text-white" role="button">
  <i class="fab fa-youtube"></i>
</a>
</div>

        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->
<!-- End of .container -->
