<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/profile.php?id=100094281339344&mibextid=ZbWKwL"
        role="button"
        >
        <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>      </a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="https://x.com/HariArtsStudio?t=f9oGLtkZzibpPmWAL7-8Jw&s=09"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="mailto:hariartsdigimedia@gmail.com"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://instagram.com/hariartscinematic?igshid=NzZlODBkYWE4Ng=="
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ec1414;"
        href="https://youtube.com/@HariArtsDigimedia?si=LnYYIkwhPTNkhOeV"
        role="button"
        ><i class="fab fa-youtube"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="">Try And Win Info Tech</a>
  </div>
  <!-- Copyright -->
</footer>