<!-- app.component.html -->
<app-header></app-header>
<router-outlet></router-outlet>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+Pro&display=swap" rel="stylesheet">

<style>
  .loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
<div class="filter-buttons home" >
  <button style="color: #FFA700;" class="filter-button" [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/HinduEngagement" >Hindu Engagement</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/SaurashtraEngagement" >Saurastra Engagement</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/BabyShower" >Baby Shower</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/NamingCeremony" >Naming  Ceremony</button>
  <button style="color: #FFA700;" class="filter-button" [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/Birthday" >Birthday Event</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/HalfSaree" >Half Saree Ceremony</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/Upanayana" >Upanayana Ceremony</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/EarPiercing" >Ear Piercing Ceremony</button>  
  <button style="color: #FFA700;" class="filter-button" [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/Anniverisery" >Anniversary Ceremony</button>
  <button style="color: #FFA700;"class="filter-button"  [routerLinkActive]="'active-link'"  routerLink="/Portfolio/SmallEvent/HouseWarming" >House Warming Ceremony</button>
</div>

<div class="container-fluid home"  *ngIf="showParentComponent">
  <!-- Your content goes here -->
<div *ngIf="hide" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 " >
          <div class="text-center">
<h1 style="color: white; padding-top: 50px; font-family: DM Serif Display;" >Half Saree Ceremony </h1>
          </div>
          <p class="paragraph"style="color: white; padding-top: 6px;">
            The Half Saree Ceremony, known as Langa Voni, is a culturally rich and significant South Indian tradition. It marks the transition of young girls into adolescence, symbolizing their journey towards womanhood. During this event, the girls wear a half saree, which consists of a long skirt, blouse, and a flowing piece of cloth draped elegantly. The ceremony is a vibrant and joyous occasion, where blessings, rituals, and cultural traditions come together to celebrate this important milestone in a young girl's life, preparing her for the next phase of her journey.           
          </p>

        </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="!selectedFolder">
      <!-- Folder view -->
      <div class="row">
        <div *ngFor="let folder of folders" class="col-md-4">
          <ng-container *ngIf="!imageLoaded">
            <!-- Loading animation with spinner -->
            <div class="loading-animation">
              <div ></div>
                  <img  src="../../../../assets/preloader.svg" alt="Loading Spinner">
              </div>
          </ng-container>
          <a (click)="navigateToAnotherComponent(folder.id)"
          >
            <div class="card folder-card bezel-less-card home" >
              <img [src]="getThumbnailUrl(folder)" class="card-img-top folder-thumbnail" (load)="imageLoaded = true" (error)="imageLoaded = false">
              <div *ngIf="imageLoaded" class="card-body text-center">
                <h5 style="color: #FFA700; text-align: center;  " class=" text-center paragraph">{{ folder.name }}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      
    </div>

</div>

</div>


  


