<app-header></app-header>

<head>
  <link rel="stylesheet"href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/teams/team-1/assets/css/team-1.css"/>
</head>

<section class="we-offer-area text-center bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="site-heading text-center">
                  <h2>What we <span>Offer</span></h2>
                  <h4>What's you love</h4>
              </div>
          </div>
      </div>
          <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <img src="../../assets/icons/ring.png" width="100px" style="object-fit: cover;">
                      <h4>Engagement </h4>
                      <p>
                        Capturing Love Stories in Every Frame.
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <img src="../../assets/icons/wedding.png" width="100px" style="object-fit: cover;">

                    <h4>Wedding</h4>
                      <p>
                        Cherishing Precious Moments of Innocence.
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <img src="../../assets/icons/baby.png" width="100px" style="object-fit: cover;">

                    <h4>Baby Shower </h4>
                      <p>
                        Sealing Love in Every Click.
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">

                <div class="item">
                  <img src="../../assets/icons/birthday.png" width="100px" style="object-fit: cover;">

                      <h4>Birthday</h4>
                      <p>
                        Capturing Moments, Creating Memories.
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <img src="../../assets/icons/saree.png" width="100px" style="object-fit: cover;">

                    <h4>Half Saree Ceremony</h4>
                      <p>
                        Celebrating Life's Milestones.
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">

                <div class="item">
                  <img src="../../assets/icons/ear.png" width="100px" style="object-fit: cover;">

                      <h4>Ear Piercing</h4>
                      <p>
                        Embracing the Journey to Adulthood.
                      </p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <img src="../../assets/icons/home1.png" width="100px" style="object-fit: cover;">
                    <h4>House Warming Ceremony </h4>
                    <p>
                      Capturing Love Stories in Every Frame.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 equal-height">
              <div class="item">
                  <img src="../../assets/icons/anni.png" width="100px" style="object-fit: cover;">
                  <h4>Anniversaaries</h4>
                  <p>
                    Capturing Love Stories in Every Frame.
                  </p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 equal-height">
            <div class="item">
                <img src="../../assets/icons/vlog.png" width="100px"  style="object-fit: cover;">
                <h4>Vlog</h4>
                <p>
                  Capturing Love Stories in Every Frame.
                </p>
            </div>
        </div>
              <!-- End Single Item -->
          </div>
  </div>
</section>

<section class="bg-light py-3 py-md-5 py-xl-8">
<div class="site-heading text-center">
  <h2>Accomplishments Over the Years</h2>
</div>
<div class="container">
  <div class="row">
    <br />
    <div class="col text-center">
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <i class="fa-solid fa-camera fa-bounce" style="color: #b1d110;"></i>
        <h2
          class="timer count-title count-number"
          [countUp]="count" [duration]="duration"
        ></h2>
        <p class="count-text">Projects Done</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa-solid fa-user fa-bounce" style="color: #b1d110;"></i>
        <h2
          class="timer count-title count-number"
          [countUp]="count1" [duration]="duration"
        ></h2>
        <p class="count-text">Years of Experience</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa-solid fa-star fa-bounce" style="color: #b1d110;"></i>
        <h2
          class="timer count-title count-number"
          [countUp]="count2" [duration]="duration"></h2>
        <p class="count-text"> Award Winning </p>
      </div>
    </div>

  </div>
</div>

<div class="container d-flex mt-4 p-4 gradeweb">
  <div class="card mb-3" style="width:fit-content">
  <div class="row g-0 gradeoneweb">
    <div class="col-md-6">
    <img
      src="../../assets/finalpro.jpg"
      class="img-fluid rounded-start"
      alt="..."
      width="720px"
      height="100%"
      style="overflow: hidden; border-radius: 20px; cursor: pointer;  border-radius: 0px;"

    />
    </div>
    <div class="col-md-6">
    <div class="card-body">
      <h1 class="card-title">Capturing Love and Moments: Our Story in Madurai</h1>
      <p class="card-text">
        At Hari Arts Cinematic Studio, photography is not just a profession; it's our passion. We're a team of dedicated photographers with a keen eye for detail and a love for storytelling through images. Our style blends the elegance of traditional photography with the spontaneity of candid moments. We're here to turn your special moments into lifelong memories. Let's capture life together.
      </p>
      <p class="card-text" >
      
        Our journey is intertwined with the stories of our clients. We've had the privilege of capturing the most intimate moments in people's lives. Our mission is to provide photography experiences that reflect your unique vision and aspirations. Explore our portfolio and read what our clients have to say about their Hari Arts experience.
     
      </p>
      <p class="card-text" >
      Our team includes specialists in traditional and candid photography. With a focus on delivering excellence, we're committed to making your moments unforgettable. Get to know the faces behind the lenses.
      </p>
      
    </div>
    </div>
  </div>
  </div>
</div>

<div class="responsive-container-block container">
  <p class="text-blk team-head-text">
    Our Team
  </p>
  <div class="responsive-container-block">
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
    <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
      <div class="card">
        <div class="team-image-wrapper">
          <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
        </div>
        <p class="text-blk name">
          Davis George
        </p>
        <p class="text-blk position">
          CEO
        </p>
        <p class="text-blk feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <div class="social-icons">
          <a href="https://www.twitter.com" target="_blank">
            <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<link
  rel="stylesheet"
  href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
/>

<!-- <h1 [countUp]="count" [duration]="duration"></h1> -->

<app-footer></app-footer>
