<!-- app.component.html -->
<app-header></app-header>
<router-outlet></router-outlet>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Source+Sans+Pro&display=swap" rel="stylesheet">

<style>
  .loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
<div class="filter-buttons home" >
  <button [routerLinkActive]="'active-link'" style="color: #F1EB90;" class="filter-button" routerLink="/Portfolio/GrandEvent/HinduWedding" >Hindu Wedding</button>
  <button [routerLinkActive]="'active-link'" style="color: #F1EB90;"class="filter-button"  routerLink="/Portfolio/GrandEvent/SaurashtraWedding" >Saurastra Wedding</button>
  <button [routerLinkActive]="'active-link'" style="color: #F1EB90;"class="filter-button"  routerLink="/Portfolio/GrandEvent/ChristianWedding" >Christian Wedding</button>
  <button [routerLinkActive]="'active-link'" style="color: #F1EB90;"class="filter-button"  routerLink="/Portfolio/GrandEvent/MuslimWedding" >Muslim Wedding</button>
</div>

<div class="container-fluid home"  *ngIf="showParentComponent">
  <!-- Your content goes here -->
<div *ngIf="hide" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 " >
          <div class="text-center">
<h1 style="color: #FF9209; padding-top: 50px; font-family: DM Serif Display;" >Saurastra Wedding</h1>
          </div>
                  <p class="paragraph"style="color: white; padding-top: 6px;">
                    Saurashtra weddings and its enduring power of love, spirituality and togetherness, immerses you in the grace of ancient rituals. The age-old traditions and grandeur of the celebration creates an atmosphere of enchantment. The special occasion is filled with traditional music, laughter and joy as family and friends come together to honour and bless the couple
                  </p>

        </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="!selectedFolder">
      <!-- Folder view -->
      <div class="row">
        <div *ngFor="let folder of folders" class="col-md-4">
          <ng-container *ngIf="!imageLoaded">
            <!-- Loading animation with spinner -->
            <div class="loading-animation">
              <!-- <div class="spinner"></div> -->
                  <img  src="../../../../assets/preloader.svg" alt="Loading Spinner">

            </div>
          </ng-container>
          <a (click)="navigateToAnotherComponent(folder.id)"
          >
            <div class="card folder-card bezel-less-card home" >
              <img [src]="getThumbnailUrl(folder)" class="card-img-top folder-thumbnail" (load)="imageLoaded = true" (error)="imageLoaded = false">
              <div *ngIf="imageLoaded" class="card-body text-center">
                <h5 style="color: #FFD099; text-align: center; font-family: Arial, Helvetica, sans-serif; " class="unique-title-font text-center ">{{ folder.name }}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      
    </div>

</div>

</div>


  


