<header class="header">
  <div class="row justify-content-center">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light transparent-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="../../assets/logo.jpg " width="250px" height="68px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse ms-auto"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/About"
                >About Us</a
              >
            </li>
            <li class="nav-item active dropdown">
              <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Portfolio
              </a>
              <div
                class="dropdown-menu multi-column-dropdown"
                aria-labelledby="navbarDropdown"
              >
                <div class="container">
                  <div class="row">
                    <div></div>
            
                    <!-- Column 1 (Wedding) -->
                    <div class="col-md-3">
                      <div class="video-container">
                        <video
                          width="100%"
                          height="330px"
                          autoplay
                          loop
                          style="border: white; border-color: aliceblue;"                        >
                          <source
                            src="../../assets/Web-Video.mp4"
                            type="video/mp4"
                          />
                          Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
            
                    <!-- Column 2 (Engagement) -->
                    <div class="col-md-3">
                      <ul class="list-unstyled">
                        <li class="blinking-text">
                          <h5
                            class="dropdown-item"
                            href="#"
                            style="color: white; background-color: red;">
                            Grand Event
                          </h5>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"> Hindu Wedding</a>
                          <a class="dropdown-item" href="#"> Saurashtra  Wedding</a>
                          <a class="dropdown-item" href="#"> Christian Wedding</a>
                          <a class="dropdown-item" href="#"> Muslim Wedding</a>




                        </li>
                        <!-- Add more list items as needed -->
                      </ul>
                    </div>
            
                    <!-- Column 3 (Outdoor) -->
                    <div class="col-md-3">
                      <ul class="list-unstyled">
                        <li>
                          <h5
                            class="dropdown-item"
                            href="#"
                            style="color: white;background-color: red;"
                          >
                            Small Event
                          </h5>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Engagement</a>
                          <a class="dropdown-item" href="#">Baby Shower</a>
                          <a class="dropdown-item" href="#">Naming Ceremony</a>
                          <a class="dropdown-item" href="#">Birthday Event</a>
                          <a class="dropdown-item" href="#">Half Saree Ceremony</a>
                          <a class="dropdown-item" href="#">Upanayana ceremony</a>
                          <a class="dropdown-item" href="#">Ear Piercing Ceremony</a>
                          <a class="dropdown-item" href="#">Anniversary Ceremony</a>
                          <a class="dropdown-item" href="#">House Warming Ceremony</a>


                        </li>
                        <!-- Add more list items as needed -->
                      </ul>
                    </div>
            
                    <!-- Column 4 (New Column) -->
                    <div class="col-md-3">
                      <ul class="list-unstyled">
                        <li>
                          <h5
                            class="dropdown-item"
                            href="#"
                            style=" color: white; background-color: red;" 
                          >
Out Door
                        </h5>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Pre / Post Wedding Shoot</a>
                          <a class="dropdown-item" href="#">Model / Portfolio Shoot</a>


                        </li>
                        <!-- Add more list items as needed -->
                      </ul>
                    </div>
            
   
            
                  </div>
                </div>
              </div>
            </li>
            

            <li class="nav-item">
              <a class="nav-link active" routerLink="/Gallery">Gallery</a>
            </li>
            <!-- Existing navigation code -->
            <li class="nav-item dropdown">
              <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="storiesDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Stories
              </a>
              <!-- Dropdown menu for Stories -->
              <div class="dropdown-menu" aria-labelledby="storiesDropdown">
                <a class="dropdown-item" routerLink="/Reception">Reception</a>
                <a class="dropdown-item" routerLink="/Kasi-Yathirai"
                  >Kasi Yathirai</a
                >
                <a class="dropdown-item" routerLink="/Muhurtham">Muhurtham</a>
                <a class="dropdown-item" routerLink="/MaalaiMatrudal"
                  >Maalai Maatrudal</a
                >
                <a class="dropdown-item" routerLink="/Oonjal">Oonjal</a>
                <a class="dropdown-item" routerLink="/Nalangu">Nalangu</a>
                <a class="dropdown-item" routerLink="/Sangeeeth">Sangeeth</a>
                <a class="dropdown-item" routerLink="/Mehandi">Mehndi</a>
                <a class="dropdown-item" routerLink="/Haldi">Haldi</a>
                <a class="dropdown-item" routerLink="/HalfSaree">Half Saree</a>

                <!-- Add more stories as needed -->
              </div>
            </li>
            <!-- Add a new list item for the Stories dropdown -->

            <li class="nav-item">
              <a class="nav-link active" routerLink="/Moments">Moments</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="storiesDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Videos
              </a>
              <!-- Dropdown menu for Stories -->
              <div class="dropdown-menu" aria-labelledby="storiesDropdown">
                <a class="dropdown-item" routerLink="/TraditionalVideo"
                  >Traditional Video</a
                >
                <a class="dropdown-item" routerLink="/TraditionalHighlight"
                  >Traditional Highlight</a
                >
                <a class="dropdown-item" routerLink="/CinematicTeaser"
                  >Cinematic Teaser</a
                >
                <a class="dropdown-item" routerLink="/CinematicHighlights"
                  >Cinematic Highlight</a
                >
                <a class="dropdown-item" routerLink="/Reels">Reels / Shorts</a>
                <a class="dropdown-item" routerLink="/InvitationVideo"
                  >Invitation Video</a
                >
                <a class="dropdown-item" routerLink="/SaveDate"
                  >Save Date Video</a
                >
                <a class="dropdown-item" routerLink="/PrePostWedding"
                  >Pre / Post Wedding Video</a
                >
                <a class="dropdown-item" routerLink="/StoryTelling"
                  >Story Telling</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="storiesDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Vlog
              </a>
              <!-- Dropdown menu for Stories -->
              <div class="dropdown-menu" aria-labelledby="storiesDropdown">
                <a class="dropdown-item" routerLink="/MeenakshiAmman">Meenakshi Amman Temple</a>
                <a class="dropdown-item" routerLink="/AzhagarKovil">Azhagar Kovil</a>
                <a class="dropdown-item" routerLink="/VandiyurMariamman">Vandiyur Mariamman Teppakulam </a>
                <a class="dropdown-item" routerLink="/KoodalAzhagar">Shri Koodal Azhagar Temple</a>
                <a class="dropdown-item" routerLink="/Southkrishnan">South krishnan temple</a>
                <a class="dropdown-item" routerLink="/KamakshiEkambareswarar">Sri Kamakshi Ekambareswarar Temple</a>
                <a class="dropdown-item" routerLink="/ArulmiguVenkatachalapathi">Arulmigu Venkatachalapathi Thirukovil</a>
                <a class="dropdown-item" routerLink="/balagivenkateshwara">Sri balagi venkateshwara perumal Temple</a>
                <a class="dropdown-item" routerLink="/NavaratriFestival">Navaratri Festival </a>
                <a class="dropdown-item" routerLink="/Other">Other Temples </a>


              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/BookNow">Book Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/Packages">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/Contact">Contact</a>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
