<app-header></app-header>
<div class="container-fluid">
  <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.com/developersakthi23/form/ContactUs/formperma/ciWL3yiwwai3rgAyuipueFDVqbB_XWN0_9Cjs-NmD-g'></iframe>
</div>
<br>
<hr>
<br>
<div style="width: 99%">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.2992178253945!2d78.1223397!3d9.8826147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c559d2af4049%3A0xec147b32aa7c1d8a!2sHari%20Arts%20Cinematic%20Studio!5e0!3m2!1sen!2sus!4v1630981206709!5m2!1sen!2sus"
    width="100%"
    height="300"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
  
</div>
<app-footer></app-footer>