<app-header></app-header>
<head>
  <link rel="stylesheet"href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/teams/team-1/assets/css/team-1.css"/>
</head>

<section class="we-offer-area text-center bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="site-heading text-center">
                  <h2>Our <span>Principles</span></h2>
              </div>
          </div>
      </div>
          <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <video src="../../assets/icons/pin.gif"></video>
                      <h4>Collaborative & No Jerks</h4>
                      <p>
                        We take a highly collaborative approach with our clients. Because this is how we achieve higher levels of performance. We view our clients as co-learners in shared journey.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fas fa-dharmachakra"></i>
                      <h4>Excellence & Do the right thing</h4>
                      <p>
                        Our philosophy centers around the principle of slowing down to ensure we do things right. We have an unwavering commitment to excellence, maintaining  integrity.                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fas fa-tasks"></i>
                      <h4>Flexible & No Stress Monkeys</h4>
                      <p>
                        Because just like the future is inherently uncertain, not everything in the event can be clearly defined in advance. So we work with our clients in a flexible way.                      </p>
                  </div>
              </div>
  
          </div>
  </div>
</section>
<div class="container-fluid">
  <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.com/developersakthi23/form/ContactUs/formperma/ciWL3yiwwai3rgAyuipueFDVqbB_XWN0_9Cjs-NmD-g'></iframe>
</div>
<br>
<hr>
<br>
<div style="width: 99%">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.2992178253945!2d78.1223397!3d9.8826147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c559d2af4049%3A0xec147b32aa7c1d8a!2sHari%20Arts%20Cinematic%20Studio!5e0!3m2!1sen!2sus!4v1630981206709!5m2!1sen!2sus"
    width="100%"
    height="300"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
  
</div>
<app-footer></app-footer>