<head>
  <link rel="stylesheet"href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/teams/team-1/assets/css/team-1.css"/>
</head>


<div class="container-fluid home">
  <app-header></app-header>

  <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/manjalhari/form/Contactus/formperma/fPqItL40voimNfg0P3tMbswFrC8XQmRWD80nf1-BDaY'></iframe>
</div>
<section class="we-offer-area text-center  home">
  <div class="container home">
          <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <img src="../../assets/icons/pin.png" width="100px" style="object-fit: cover;">

                      <h4>Address</h4>
                      <p> C6, 7th Main Avenue, Avaniyapuram Bypass Rd, Jayabharath City, Madurai, Tamil Nadu 625012</p>
                  
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                  <img src="../../assets/icons/mail.png" width="100px" style="object-fit: cover;">

                    <h4>Email</h4>
                    <p>hariartsdigimedia@gmail.com</p>
                    <p>⠀</p>
                    <p>⠀</p>
                    <br>  
                
                </div>
            </div>
            <div class="col-md-4 col-sm-6 equal-height">
              <div class="item">
                <img src="../../assets/icons/phone.png" width="100px" style="object-fit: cover;">

                  <h4>Phone</h4>
                  <p>+91 9994420163</p>
                  <p>⠀</p>

                  <br>
              
              </div>
          </div>
          </div>
  </div>
</section>

<div  class="gmap home">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.2992178253945!2d78.1223397!3d9.8826147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c559d2af4049%3A0xec147b32aa7c1d8a!2sHari%20Arts%20Cinematic%20Studio!5e0!3m2!1sen!2sus!4v1630981206709!5m2!1sen!2sus"
    width="100%"
    height="900"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
  
</div>
