<app-header></app-header>
<div class="filter-buttons home" >
  <button style="color: #43A047;" class="filter-button" routerLink="/TraditionalVideo" >Traditional Video</button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/TraditionalHighlight" >Traditional Highlight </button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/CinematicTeaser" > Cinematic Teaser</button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/CinematicHighlights" >Cinematic Highlights</button>
    <button style="color: #43A047;" class="filter-button" routerLink="/Reels" >Reels</button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/InvitationVideo" >Invitation Video </button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/SaveDate" >Save Date Video</button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/PrePostWedding" >Pre / Post Video</button>
  <button style="color: #43A047;"class="filter-button"  routerLink="/StoryTelling" >Story Telling</button>

</div>
<div class="home container-fluid home">
    <div class="home container-fluid home">
        <div class="row justify-content-center home">
            <div class="col-lg-8 col-md-10">

          <div class="text-center">
<h1 style="color: white; padding-top: 10px; font-family: DM Serif Display;" >Cinematic Highlights</h1>
          </div>
                <p  style="font-family: cursive; font-size: 20px; text-align: justify; padding: auto; padding-bottom: 30px; line-height: 1.6em; color: burlywood;" >
                    "A cinematic highlight, where the essence of your story is distilled into an unforgettable visual experience. It's a journey through the most captivating moments of your narrative, designed to leave a lasting impression. An opportunity to relive the most remarkable parts of your tale, expertly edited into a mesmerizing reel. We're here to create a visual masterpiece that etches your story in memory. Ready to be swept away by the highlights of your cinematic journey?"                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
        <div class="gallery home">
            <div *ngFor="let data of images; let i = index" class="gallery-img">
                <div class="video-container home">
                    <a (click)="redirectToVideo(data.name)">
                        <img [src]="getImageUrl(data.id)" />
                        <div class="video-overlay"></div>
                    </a>
                </div>
            </div>
        </div>    
