<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Add any other necessary meta tags or CSS links here -->
</head>
<body>
  <div class="floating-container">
    <div class="floating-button">+</div>
    <div class="element-container">
      <a href="https://instagram.com/hariartscinematicstudio999?igshid=NzZlODBkYWE4Ng==" target="_blank"> <!-- Properly close the <a> tag and add target="_blank" to open link in a new tab -->
        <span class="float-element tooltip-left" style="background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        ">
            <i class="fa fa-instagram" id="insta"  aria-hidden="true"></i>

        </span>
      </a> <!-- Close the <a> tag here -->
        <a href="https://www.youtube.com/@HariArtsDigimedia" target="_blank">
            <span class="float-element" style="background-color: red;">
                <i class="fa-brands fa-youtube"></i>
              </span>
        </a>
        <a href="https://www.google.com" target="_blank">
            <span class="float-element" style="background-color: aliceblue; " >
<i class="fab fa-google fa-3x"></i>
            </span>
        </a>
        <a href=" https://wa.me/+919994420163?text=I'm%20interested%20in%20your%20photography" target="_blank">
            <span class="float-element" style="background-color: green;">
                <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
              </span>
        </a>

    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
