<app-header></app-header>

<div class="gallery-lightbox-container">
  <div class="gallery">
    <div *ngIf="coupleAlbum">
      <div *ngFor="let item of coupleAlbum.data; let i = index" class="gallery-img">
        <img (click)="onPreviewImage(i)" [src]="item.imageSrc" [alt]="item.imageAlt">
      </div>
    </div>
  </div>
  
  
  

  <div *ngIf="showMask" class="lightbox" animation2>
    <span *ngIf="showCount" class="count">{{ currentIndex + 1 }} / {{ totalImageCount }}</span>
    <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()" >
      <i class="fas fa-times"></i>
    </button>
    
    <button *ngIf="controls && currentIndex > 0" class="btn-lightbox-carousel btn-prev" (click)="prevImage()" >
      <i class="fa fa-arrow-circle-left icon-prev"></i>
    </button>
    
    <button *ngIf="controls && currentIndex < totalImageCount - 1" class="btn-lightbox-carousel btn-next" (click)="nextImage()">
      <i class="fa fa-arrow-circle-right icon-next"></i>
    </button>

    <div *ngIf="previewImage" class="lightbox-img"
    [@animation]="{value:'visible'}"
    (@animation.done)="onAnimatedEnd($event)"
    >
      
      <img [src]="currentLightboxImage.imageSrc" [alt]="currentLightboxImage.imageAlt">
    </div>
  </div>
</div>
