
<input class="gallery__select" type="radio" name="gallery-select" id="0" checked="checked"/>
<input class="gallery__select" type="radio" name="gallery-select" id="1"/>
<input class="gallery__select" type="radio" name="gallery-select" id="2"/>
<input class="gallery__select" type="radio" name="gallery-select" id="3"/>
<input class="gallery__select" type="radio" name="gallery-select" id="4"/>
<input class="gallery__select" type="radio" name="gallery-select" id="5"/>
<input class="gallery__select" type="radio" name="gallery-select" id="6"/>
<input class="gallery__select" type="radio" name="gallery-select" id="7"/>
<input class="gallery__select" type="radio" name="gallery-select" id="8"/>
<input class="gallery__select" type="radio" name="gallery-select" id="9"/>
<input class="gallery__select" type="radio" name="gallery-select" id="10"/>
<input class="gallery__select" type="radio" name="gallery-select" id="11"/>
<input class="gallery__select" type="radio" name="gallery-select" id="12"/>
<div class="gallery">
  <div class="gallery__filler"></div>
  <div class="gallery__filler"></div>
  <label class="gallery__item" for="0"><img src="../../assets/Wedding/W1.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="1"><img src="../../assets/Wedding/W2.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="2"><img src="../../assets/Wedding/W3.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="3"><img src="../../assets/Wedding/W4.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="4"><img src="../../assets/Wedding/W5.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="5"><img src="../../assets/Wedding/W6.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="6"><img src="../../assets/Wedding/W7.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="7"><img src="../../assets/Wedding/W8.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="8"><img src="../../assets/Wedding/W9.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="9"><img src="../../assets/Wedding/W10.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="10"><img src="../../assets/Engagement/E1.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="11"><img src="../../assets/Engagement/E2.jpg" alt="Something random"/></label>
  <label class="gallery__item" for="12"><img src="../../assets/Engagement/E3.jpg" alt="Something random"/></label>

</div>