<app-header></app-header>
<div class="container-fluid home">
    <div>
      <!-- <button
        (click)="calendar()"
        class="btn btn-primary"
        style="float: left"
      >
        Back
      </button> -->
      <br />
      <br />
      <div class="row">
        <div *ngFor="let folder of sortImagesByFilenames(folders)" class="col-md-4">
          <div
            class="card folder-card bezel-less-card"
            (click)="navigateToAnotherComponent(folder.id,folder.name)"
            >
            <img
              [src]="getThumbnailUrl(folder)"
              class="card-img-top folder-thumbnail"
              (load)="imageLoaded = true"
              (error)="imageLoaded = false"
            />
            <div class="card-body">
              <h5 class="unique-title-font">{{ folder.name }}</h5>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>