<head>
  <link rel="stylesheet"href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/teams/team-1/assets/css/team-1.css"/>
</head>

<section class="we-offer-area text-center bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="site-heading text-center">
                  <h2>Our <span>Principles</span></h2>
              </div>
          </div>
      </div>
          <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fas fa-pen-fancy"></i>
                      <h4>Collaborative & No Jerks</h4>
                      <p>
                        We take a highly collaborative approach with our clients. Because this is how we achieve higher levels of performance. We view our clients as co-learners in shared journey.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fas fa-dharmachakra"></i>
                      <h4>Excellence & Do the right thing</h4>
                      <p>
                        Our philosophy centers around the principle of slowing down to ensure we do things right. We have an unwavering commitment to excellence, maintaining  integrity.                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fas fa-tasks"></i>
                      <h4>Flexible & No Stress Monkeys</h4>
                      <p>
                        Because just like the future is inherently uncertain, not everything in the event can be clearly defined in advance. So we work with our clients in a flexible way.                      </p>
                  </div>
              </div>
  
          </div>
  </div>
</section>