<app-header></app-header>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/primeng/16.6.0/resources/components/galleria/galleria.min.css"
  integrity="sha512-nRFeh3+o3dvbDPgVan2vf0SMu7Fm/uGTNce6YFj1ofJE6v8GCJaKL5qhaYrolUjIr8s7g6buW6hYTep2OPX6Vw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/primeng/16.6.0/resources/components/carousel/carousel.min.css"
  integrity="sha512-OldQUaoJioKuTUW9Vm0gaXr8ytkBs+/4398mmFEMEQljZN9EENOYywCI0Oox3s6WwIIZJiYG6y/2ehnL+B+xVg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<p-carousel
[value]="data"
[numVisible]="1"
[circular]="true"
[showIndicators]="false"
[showNavigators]="false"
effect="none"
[autoplayInterval]="500"
>
<ng-template pTemplate="item" let-item>
  <img [src]="item.id | imageUrl" style="width: 100%; display: block" />
</ng-template>
<ng-template pTemplate="thumbnail" let-item>
  <div class="grid grid-nogutter justify-content-center">
    <img [src]="item.id | imageUrl" style="width: 100%; display: block" />
  </div>
</ng-template>
</p-carousel>
  <div class="row justify-content-center home" >
    

        <mat-accordion class="responsive-accordion">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header
              class="custom-header"
              [collapsedHeight]="'auto'"
              [expandedHeight]="'auto'"
            >
              <mat-panel-title style="justify-content: center">
                <h1
                  class="text-center"
                  style="
                    padding-bottom: 15px;
                    font-size: 30px;
                    margin-top: 20px;
                    color: rgb(235, 235, 25);
                  "
                >
                  மதுரை தெப்பக்குளம் மாரியம்மன் கோவில் வரலாறு
                </h1>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p
              style="font-family: cursive; font-size: 16px; text-align: justify"
            >
              சுமார் 1000 ஆண்டுகளுக்கு முன்பு மதுரை மாநகரை கூண்பாண்டியன் என்ற
              மன்னன் ஆட்சி புரிந்து வந்தார். அப்போது மதுரையின் கிழக்கே தற்போது
              திருக்கோயில் அமைந்துள்ள பகுதி மகிழ மரங்கள் நிறைந்த காடாக இருந்தது.
              அதனைத் திருத்தி அருகே வைகையில் கிடைத்த அம்மன் விக்ரகத்ததை வைகை
              ஆற்றின் தெற்கு கரையில் தற்போது கோயில் வீற்றுள்ள பகுதியில் வைத்து
              பிரநிஷ்டை செய்து வழிபட்டதாக அறியப்படுகிறது. மாரியம்மனும்,
              தூக்கையுப் வேறு வேறு வடிவங்களாக இருந்தபோதிலும், இருவரும்
              அம்பிகையின் அம்சமாகவே திகழ்கின்றனர். இதனை உணர்த்தும் விதமாக
              இத்திருக்கோயிலில் அன்னை மாரியம்மனாக கைகளில் பாசம், அங்குசம்,
              ஏந்தி, இடது காலை தொங்கவிட்டு, வலது காலை மடக்கி வைத்திருக்கிறான்.
              துரிக்கையாக அம்மனின் இடது காலுக்கு கீழே எருமை தலை உள்ளது. மதுரையை
              ஆட்சி செய்த மன்னர்கள் போருக்குச் செல்லும் முன்பு போரில் வீரத்துடன்
              செயல்படவும், வெற்றி பெறவும் அம்மனை வணங்கிச் செல்வதை வழக்கமாக
              கொண்டிருந்திருக்கின்றனர். பிற்காலங்களில் இந்த அம்மனே. மதுரையின்
              எல்லைக் காவல் தெய்வமாகவும், தெப்பக்குளம் அருள்மிகு மாரியம்மனாகவும்
              பக்தர்களுக்கு அருள்பாலித்து வருகிறாள்.
            </p>
            <h1
              class="text-center"
              style="padding-bottom: 15px; font-size: 16px"
            >
              <b>திருத்தலச் சிறப்பு:</b>
            </h1>
            <p
              style="font-family: cursive; font-size: 16px; text-align: justify"
            >
              மதுரையின் காவல் தெய்வமாக அம்பிகை வீற்றிருக்கும் இக்கோயிலில்,
              அம்பாள் மிகுந்த வரப்பிரசாதியாக அருளுகிறாள்.அம்மனை ஆதி தெய்வமாகவும்
              வழி படுகின்றனர். இப்பகுதியில் வசிக்கும் மக்கள் விஷேசங்கள்' நடைபெற.
              முதலில் மாரியம்மனிடம் உத்தரவு கேட்டுவிட்டு, அதன்பின்பு
              நடத்துகின்றனர். மதுரையில் உள்ள பிரசித்தி பெற்ற கோயில்களில் விழா
              நடக்கும் முன்பு, முதல் பூஜை இந்த மாரியம்மனுக்கே செய்யப்படுகிறது.
              இத்திருக்கோயிலுடன் சேர்ந்துள்ள தெப்பக்குளம் மதுரை வட்டாரத்திலேயே
              மிகப்பெரிய தெப்பக்குளம் எனும் பெருமையுடையது மூலவராக மாரியம்மன்
              வலக்காலை இடக்காலின் மீது மடக்கிய காலுக்குக் கீழே எருமைத் தலையுடன்
              உட்கார்ந்த நிலையினும், உற்சவராக நின்ற நிலையிலும் அருள்பாலிப்பது
              சிறப்பு.
            </p>
            <h1
              class="text-center"
              style="padding-bottom: 15px; font-size: 16px"
            >
              <b>பிரார்த்தனை:</b>
            </h1>
            <p
              style="font-family: cursive; font-size: 16px; text-align: justify"
            >
              அம்மை நோய், தோல் நோய்கள், குழந்தைகளுக்கு ஏற்படும் அனைத்து நோய்கள்,
              தீராத வியாதிகள் மற்றும் நாள்பட்ட நோய்கள் தீர இங்கு வேண்டிக்கொள்ளப்
              படுகிறது. இங்கு கொடுக்கப்படும் தீர்ததம் விசேசமாகும். மேலும்,
              இத்தலத்தில் வீற்றுள்ள அம்மனை வணங்கிட சகல சவுபாக்கியங்களும் பெருகி,
              குடும்ப- பிரச்சினைகளும் தொழில் பிரச்சினைகளும் தீரும். பயம்,
              திருமணத்தடை நீங்கி, குழந்தைப்பேறு கிட்டும் என நம்பப்படுகிறது.
            </p>

            <h1
              class="text-center"
              style="padding-bottom: 15px; font-size: 16px"
            >
              <b> நேர்த்திக்கடன்:</b>
            </h1>
            <p
              style="font-family: cursive; font-size: 16px; text-align: justify"
            >
              வேண்டிக் கொண்ட காரியங்கள் நிறைவேறிட மாரியம்மனுக்கு தீச்சட்டி,
              பால்குடம் மற்றும் மாவிளக்கு எடுத்து, சிறப்பு அபிஷேகங்கள்
              செய்யப்படுகின்றன. குழந்தைகளின் நோய்கள் தீர, குழந்தையை
              தத்துக்கொடுத்து வாங்குதல், மண்சிலைகள் கொடுத்து கரும்புத்
              தொட்டில்கள் கட்டப்படுகிறது. மேலும், கிடா வெட்டிப்படைத்தல்,
              அங்கப்பிரதட்சணம் செய்தல், முடி காணிக்கை, அலகு குத்துதல், உடலில்
              கரும்புள்ளி, செம்புள்ளி குத்துதல் என பக்தர்கள் தத்தம்
              நேர்த்திக்கடன்களை செலுத்துகின்றனர்.
              <br /></p
          ></mat-expansion-panel>
        </mat-accordion>

      
                <div class="p-fluid p-grid p-formgrid">
          <div class="p-field p-col-12 p-md-4">
            <p-calendar
              view="year"
              dateFormat="yy"
              [readonlyInput]="false"
              inputId="pickYear"
              [(ngModel)]="date"
              placeholder="Pick any year"
              (ngModelChange)="focus()"
              (ngModelChange)="yearselector($event)"
            >
            </p-calendar>
          </div>
        </div>

        <p *ngIf="!validyear">No Data Available</p>
        <div class="card" *ngIf="!yearchanged" >
          <p-table
            [value]="festival"
            [tableStyle]="{ 'min-width': '50rem', 'text-align': 'center' }"
            [sortField]="sortField"
            [sortOrder]="sortOrder"
            (onSort)="onSort($event)"
            
          >
            <ng-template pTemplate="caption">
              Festival Calendar ({{ currentYear }})
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="festivalName" style="text-align: center;">
                  Festival Name
                  <p-sortIcon field="festivalName"></p-sortIcon>
                </th>
                <th pSortableColumn="month" style="text-align: center;">
                  Approximate month
                  <p-sortIcon field="month"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-festival>
              <tr
                (click)="selectMonth(festival.folderId)"
                class="sortable-header"
              >
                <td style="text-align: center;">{{ festival.festivalName }}</td>
                <td style="text-align: center;">  
                  {{ festival.month === 1 ? 'January' : festival.month === 2 ? 'February' : festival.month === 3 ? 'March' : festival.month === 4 ? 'April' : festival.month === 5 ? 'May' : festival.month === 6 ? 'June' : festival.month === 7 ? 'July' : festival.month === 8 ? 'August' : festival.month === 9 ? 'September' : festival.month === 10 ? 'October' : festival.month === 11 ? 'November' : festival.month === 12 ? 'December' : festival.month }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div class="container-fluid">
          <div *ngIf="!selectedFolder && yearchanged && validyear">
            <button
              (click)="calendar()"
              class="btn btn-primary"
              style="float: left"
            >
              Back
            </button>
            <br />
            <br />
            <div class="row">
              <div *ngFor="let folder of sortImagesByFilenames(folders)" class="col-md-4">
                <div
                  class="card folder-card bezel-less-card"
                  (click)="openFolder(folder, false)"
                >
                  <img
                    [src]="getThumbnailUrl(folder)"
                    class="card-img-top folder-thumbnail"
                    (load)="imageLoaded = true"
                    (error)="imageLoaded = false"
                  />
                  <div class="card-body">
                    <h5 class="unique-title-font">{{ folder.name }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
          </div>

          <div *ngIf="selectedFolder" (window:keydown)="onKeyDown($event)">
            <button
              (click)="goBack()"
              class="btn btn-primary"
              style="float: left"
            >
              Back
            </button>
            <h2 class="text-center">{{ selectedFolder.name }}</h2>

            <div *ngIf="selectedFolder.name === 'Videos'; else imageView">
              <div>
                <div class="row">
                  <div
                    *ngFor="
                      let image of sortImagesByFilename(selectedFolder.images);
                      let i = index
                    "
                    class="col-md-4"
                  >
                    <div class="card video-thumbnail-card bezel-less-card">
                      <a
                        (click)="redirectToVideo(image.name)"
                        class="thumbnail-link"
                      >
                        <img
                          [src]="getImageUrl(image.id)"
                          class="thumbnail-image"
                        />
                        <div class="play-button-overlay">
                          <i class="fa fa-play-circle"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ng-template #imageView>
              <div *ngIf="selectedFolder" (window:keydown)="onKeyDown($event)">
                <!-- Image view -->
                <br />
                <br />
              </div>

              <div class="gallery1">
                <div
                  *ngFor="
                    let data of sortImagesByFilename(selectedFolder.images);
                    let i = index
                  "
                  class="gallery-img"
                >
                  <img
                    (click)="onPreviewImage(i)"
                    [src]="getImageUrl(data.id)"
                  />
                </div>
              </div>

              <div
                *ngIf="showMask"
                class="lightbox"
                animation2
                #swipeElement
                (touchstart)="onTouchStart($event)"
                (touchend)="onTouchEnd($event)"
              >
                >
                <span *ngIf="showCount" class="count"
                  >{{ currentIndex + 1 }} /
                  {{ selectedFolder.images.length }}</span
                >
                <button
                  *ngIf="previewImage"
                  class="close-btn"
                  (click)="onClosePreview()"
                >
                  <i class="fas fa-times" style="color: #ffffff"></i>
                </button>

                <div
                  *ngIf="previewImage"
                  class="lightbox-img"
                  [@animation]="{ value: 'visible' }"
                  (@animation.done)="onAnimatedEnd($event)"
                >
                  <img
                    [src]="getImageUrl(currentLightboxImage.id)"
                    (click)="onClosePreview()"
                  />
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <br />
        <br />
        <div class="container" *ngIf="!gallery && validyear">
          <p-carousel
            [value]="Banner"
            [numVisible]="3"
            [numScroll]="1"
            [responsiveOptions]="responsiveOptions"
            [circular]="true"
            [showIndicators]="false"
            [showNavigators]="true"
            [autoplayInterval]="1000"

          >
            <ng-template let-product pTemplate="item" let-item>
              <div
                class="border-1 surface-border border-round m-2 text-center py-5 px-3"
              >
                <img
                  [src]="getImageUrl(item.id)"
                  style="width: 100%; display: block"
                />
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <br />
        <br />

    </div>


