<style>
	.custom-aspect-ratio-img {
	  display: block;
	  width: 100%;
	  height: auto; /* This ensures the image maintains its original aspect ratio */
	}
  
	.custom-aspect-ratio-img-4-3 {
	  padding-bottom: 75%; /* 4:3 aspect ratio (3 / 4 * 100%) */
	}
  
	.custom-aspect-ratio-img-16-9 {
	  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
	}
</style>
  <head>
	<link rel="stylesheet"href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/teams/team-1/assets/css/team-1.css"/>
	<link
  rel="stylesheet"
  href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


  </head>
<app-header1></app-header1>
<div class="home">

	<div appDisableDoubleClick>

	</div>
	<div class="video-player-wrapper">
		<vg-player>
		  <vg-buffering></vg-buffering>

		  <video #video [vgMedia]="$any(media)" #media id="singleVideo"autoplay="true"  preload="auto" crossorigin loop >
			<source src="../../assets/slide.mp4" type="video/mp4">
		  </video>
		</vg-player>
	  </div>
	  
	<div class="container">
		<h1 class="text-center">Our Efforts</h1>
		<br>
		<div class="card-group" style="margin-bottom: 20px;">
			<div class="card">
				<img src="../../assets/new five.jpg" class="card-img-top custom-aspect-ratio-img custom-aspect-ratio-img-4-3" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center">Engagement</h5>
					<p class="card-text">When you realize you want to spend the rest of your life with somebody, you want the rest of your life to start as soon as possible</p>
				</div>
			</div>
	
			<div class="card">
				<img src="../../assets/new five.jpg" class="card-img-top custom-aspect-ratio-img custom-aspect-ratio-img-4-3" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center">Wedding</h5>
					<p class="card-text">When you find the one you want to spend your life with, you yearn for the beginning of your shared forever.</p>
				</div>
			</div>
	
			<div class="card">
				<img src="../../assets/new five.jpg" class="card-img-top custom-aspect-ratio-img custom-aspect-ratio-img-4-3" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center">Baby Shower</h5>
					<p class="card-text"> 
						As you eagerly await your baby's arrival, you'll find that the rest of your life can't start soon enough—the joy and love you feel are boundless.
					</p>
				</div>
			</div>
	
		</div>
	
		<div class="card-group">
			<div class="card">
				<img src="../../assets/new five.jpg" class="card-img-top custom-aspect-ratio-img custom-aspect-ratio-img-4-3" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center">Half Saree Ceremony</h5>
					<p class="card-text">
						When the moment arrives for the half saree ceremony, it's like realizing you want to embrace tradition and culture for the rest of your life. The anticipation is palpable as this beautiful chapter begins.
					</p>
				</div>
			</div>
	
			<div class="card">
				<img src="../../assets/new five.jpg" class="card-img-top custom-aspect-ratio-img custom-aspect-ratio-img-4-3" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center">Portfolio</h5>
					<p class="card-text">
						Preparing for a portfolio photoshoot is akin to the moment when you realize you want to capture your aspirations and dreams, ensuring that the rest of your professional journey starts as soon as possible.
					</p>
				</div>
			</div>
	
			<div class="card">
				<img src="../../assets/new five.jpg" class="card-img-top custom-aspect-ratio-img custom-aspect-ratio-img-4-3" alt="...">
				<div class="card-body">
					<h5 class="card-title text-center">Pre/Post Wedding</h5>
					<p class="card-text">
						Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma – which is living with the results of other people’s thinking.
					</p>
				</div>
			</div>
	
		</div>
	</div>
	
	  
	  <br>
	  <hr>
	  <div class="container">
		<app-collection></app-collection>
	  </div>
	  

	  <br>
	  <hr>

	  <app-footer></app-footer>
</div>

