<section>
	<div class="row d-flex justify-content-center">
	  <div class="col-md-10 col-xl-8 text-center">
		<h3 class="mb-4">Testimonials</h3>
		<p class="mb-4 pb-2 mb-md-5 pb-md-0">
		 
		</p>
	  </div>
	</div>
  
	<div class="row text-center">
	  <div class="col-md-4 mb-5 mb-md-0">
		<div class="d-flex justify-content-center mb-4">
		  <img src="../../../assets/JW41.jpg"
			class="rounded-circle shadow-1-strong" width="150" height="150" />
		</div>
		<h5 class="mb-3">Jegan+Preethi</h5>
		<p class="px-xl-3">
		  <i class="fas fa-quote-left pe-2"></i>
		  Thanks to the entire crew who came for outdoor shoot and the
		  wedding shoot . They gave their best. Amidst all the ups and
		  downs ,I wish the Hari Arts all the very best to reach more heights
		  and come out with flying colors establishing in more cities
		  and countries !!
		  
		</p>
		<ul class="list-unstyled d-flex justify-content-center mb-0">
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star-half-alt fa-sm text-warning"></i>
		  </li>
		</ul>
	  </div>
	  <div class="col-md-4 mb-5 mb-md-0">
		<div class="d-flex justify-content-center mb-4">
		  <img src="../../../assets/S3.jpg"
			class="rounded-circle shadow-1-strong" width="150" height="150" />
		</div>
		<h5 class="mb-3">Sajani + Suyambu </h5>
		<p class="px-xl-3">
		  <i class="fas fa-quote-left pe-2"></i>
			The best choice when it comes to capturing the best moments
			of your life. The team is very good and their support is
			awesome from the day you fix them till you receive your
			album.Awesome quality and they stay class apart when it
			comes to the post production and execution.
		
		<ul class="list-unstyled d-flex justify-content-center mb-0">
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		</ul>
	  </div>
	  <div class="col-md-4 mb-0">
		<div class="d-flex justify-content-center mb-4">
		  <img src="../../../assets/NW17.jpg"
			class="rounded-circle shadow-1-strong" width="150" height="150" />
		</div>
		<h5 class="mb-3">Narmadha+Kishore</h5>
		<p class="px-xl-3">
		  <i class="fas fa-quote-left pe-2"></i>
		  Thanks to the entire crew who participated in the outdoor shoot and the wedding shoot. They gave their best, and despite the various challenges we faced, I wish Hari Arts all the very best in expanding to more cities and countries and achieving even greater success!
			
		<ul class="list-unstyled d-flex justify-content-center mb-0">
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="fas fa-star fa-sm text-warning"></i>
		  </li>
		  <li>
			<i class="far fa-star fa-sm text-warning"></i>
		  </li>
		</ul>
	  </div>
	</div>
  </section>